/* couleurs du site de Docker :
    -#003f8c : bleu foncé
    -#e6e7ec : gris clair
*/

body {
    /*background-color: #e6e7ec;*/
    font-family: Arial, Helvetica, sans-serif;
}

section {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 0.5em 2em 2em 2em;
    padding: 0em 2em 2em 2em;
    position: relative;
    height: 100vh;

}

section.garde h1,section.garde ul li {
    font-size: 50px;
    text-align: center;
    
}

section h1 {
    color: #003f8c;
}

ul.rang {
    display: flex;
    list-style-type: none;
    
}

ul.pres li{
    padding: 0.5em;
    list-style-type: none;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}
tr:nth-child(odd) {
    background-color: #cccccc;
}

th {
    background-color: #003f8c;
    color : #d1d1d1;
}

p {
    /*
    overflow-y: scroll;
    height: 100px;
    */
}

.date {
    position: absolute;
    bottom: 0;
    min-height: 5rem;
    font-size: 15px;

}

#tabPerson {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.person {
    display: flex;
    gap: 40px;
    padding: 15px;
    border: 3px solid #003f8c ;
    min-width: 315px;
    margin: 1em 20px;
}
.person img {
    width: 100px;
    height: auto;
    
}

#linkAnnexe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

}
#linkAnnexe img {
    width: 500px;
    height: auto;
}

@media print {
    section {
       border: 1px solid black;
       width: 8.26in;
       height: 11.66in;
       margin: 0;
       
    }

    /* La propriété "page-break-after: always;" force un saut de page, cependant pour la dernière section(dernière page) nous n'avons pas besoin de sauter de page et d'avoir une page vide, donc la classe breakPage est donné à toute les sections sauf la dernière. */
    section.breakPage {
        page-break-after: always;
    }
 }
 